<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="Newtonsoft.Json" version="7.0.1" />
    <package id="Octopus.Client" version="3.2.13" />
	<package id="Nunit" version="3.0.1" />
	<package id="Microsoft.VisualStudio.QualityTools.UnitTestFramework" version="11.0.50727.1" />
</packages>